.buscaMenu {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 0 0 20px 0;
    flex-wrap: wrap;
}

.buscaMenu::-webkit-scrollbar {
    width: 0px;
}

.buscaMenu__item {
    border-radius: 20px;
    background: #FFF;
    height: 30px;
    padding: 5px 10px;
    white-space: nowrap;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 700;
}